html {
    font-size: 62.5%;
    height: 100%;
    background-color:#cccccc;
  }
  body {
    background-color: white;
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template: 
        "header header header" 59px
        "...... ...... ......" 20px
        "center center center" 
        "center center center" 
        "center center center"
        "...... ...... ......" 20px
        "footer footer footer" 59px;
         /* auto 10px auto 1fr auto 10px auto; */
  }
  nav {
    /* height: 60px; */
  }
  header{
    grid-area: header;
  }
  main{
    grid-area: center;
    /* max-width: 1000px; */
    align-self: center;
  }
  footer{
    grid-area: footer;
    /* max-height: 60px; */
  }
  .card:hover{
    background-color: skyblue;
  }
  
  @media screen and (max-width: 1000px) {
    body{
      grid-template:
        "header"
        "....." 50px
        "center" 1fr
        "center" 1fr
        "center" 1fr
        "....." 50px
        "footer" 60px;
    }
  }
      
